# Cache and logs (Symfony2)
/apps/cache/*
/apps/logs/*
!apps/cache/.gitkeep
!apps/logs/.gitkeep

# Email spool folder
/apps/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Parameters
# /apps/config/parameters.yml
# /apps/config/parameters.ini

# Managed by Composer
/apps/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/apps/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
.idea/.gitignore
.idea/codeStyles/
.idea/dataSources.xml
.idea/eactivos-interview-code-test.iml
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/vcs.xml

