{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Logearse en el Sistema</h3>
                    {% if error %}
                        <div class="alert alert-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}
                    <form action="{{ path('user_login') }}" method="post">
                        <ul class="list-group list-unstyled">
                            <li>
                                <label for="username">Email:</label>
                                <input type="text" id="username" name="_username"/>
                            </li>
                            <li>
                                <label for="password">Password:</label>
                                <input type="password" id="password" name="_password"/>
                            </li>
                            <li>
                                <input type="hidden" name="_target_path" value="account"/>
                                <button
                                        type="submit" class="btn btn-success" style="margin:15px;">
                                    Login <span class="fa fa-lock"></span>
                                </button>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                            </li>
                        </ul>
                    </form>
                    <p><b>Si no está registrado vaya <a href="{{ path('user_registration') }}">AQUÍ</a><b></p>
                    <div style="border: 1px solid; padding: 10px; box-shadow: 3px 7px #888888;display: inline-block">
                        <p>CREDENCIALES DE ADMINISTRADOR:</p>
                        <p>email:&nbsp;&nbsp;<span style="color:red;">admin@eactivos.com</span></p>
                        <p>clave:&nbsp;&nbsp;<span style="color:red;">12345</span></p>
                        <p>CREDENCIALES DE USUARIO:</p>
                        <p>email:&nbsp;&nbsp;<span style="color:red;">user@eactivos.com</span></p>
                        <p>clave:&nbsp;&nbsp;<span style="color:red;">12345</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
