<div class="footercr">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
            <a href="/quienes-somos"><img src="{{ asset('img/logo_10_aniversario_eactivos_blanco.png') }}"></a>
        </div>
        <p class="social">
            <a href="https://facebook.com/eactivos.subastas.online" target="_blank">
                            <span class="wrap-social">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </span>
            </a>
            <a href="https://twitter.com/subastas_online" target="_blank">
                            <span class="wrap-social">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </span>
            </a>
            <a href="https://es.linkedin.com/company/eactivos.com" target="_blank">
                            <span class="wrap-social">
                                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                            </span>
            </a>
            <a href="https://www.youtube.com/c/ActivosConcursalesValència" target="_blank">
                            <span class="wrap-social">
                                <i class="fa fa-youtube-square" aria-hidden="true"></i>
                            </span>
            </a>
        </p>
        <p>
            <a href="/iso-27001.html">
                <img src="{{ asset('img/iso27001.gif') }}" alt="Certificacion ISO 27001" style="width: 100px">
            </a>
        </p>
        <p>
            <a href="/aviso-legal.html">Aviso legal</a> | <a href="/politica-de-privacidad.html">Política de
                privacidad</a>
        </p>
        <p>
            Condiciones de uso: <a href="/eula/usuario">Usuarios</a>
        </p>
        <div style="text-align:center">Copyright © Activos Concursales S.L. 2009 - 2020 CIF: B-98206790 | Todos los
            derechos reservados
        </div>
    </div>
</div>
