<div class="footercr">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 25px;">
            <a href="/quienes-somos"><img src="{{ asset('img/logo_10_aniversario_eactivos_blanco.png') }}"></a>
        </div>


    </div>
</div>
