<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 footer-3">
            <p class="title text-left">Delegaciones</p>
            <hr>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <p class="title">Oficinas centrales</p>
                    <div>
                        <p class="address">
                            Paseo de la Alameda, 46-1º-1ª, 46023 Valencia
                        </p>
                        <p class="phone">
                            <a href="tel:+34963504476">
                                <span style="color: #D3C1AF"><i class="fa fa-phone"></i></span> 96 350 44 76
                            </a>
                        </p>
                        <p class="mail">
                            <a href="mailto:contacto@eactivos.com">
                                <span style="color: #D3C1AF"><i class="fa fa-envelope"></i></span>
                                contacto@eactivos.com
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row sub-delegaciones">
                <div class="col-sm-4">
                    <div class="delegacion">
                        <p class="title">Andalucía</p>
                        <p class="address">
                            Avda. Menéndez y Pelayo, 8 - 3ª Planta, 41004 Sevilla
                        </p>
                        <p class="phone">
                            <a href="tel:+34670638589">
                                <span style="color: #D3C1AF"><i class="fa fa-phone"></i></span> 670 638 589
                            </a>
                        </p>
                        <p class="mail">
                            <a href="mailto:andalucia@eactivos.com">
                                <span style="color: #D3C1AF"><i class="fa fa-envelope"></i></span>
                                andalucia@eactivos.com
                            </a>
                        </p>
                    </div>

                    <hr>

                    <div class="delegacion">
                        <p class="title">Galicia</p>
                        <p class="address">
                            C/ Juan Flórez, 8, 1ª Planta, 15004 A Coruña
                        </p>
                        <p class="phone">
                            <a href="tel:+34881590531">
                                <span style="color: #D3C1AF"><i class="fa fa-phone"></i></span> 881 59 05 31
                            </a>
                        </p>
                        <p class="mail">
                            <a href="mailto:galicia@eactivos.com">
                                <span style="color: #D3C1AF"><i class="fa fa-envelope"></i></span>
                                galicia@eactivos.com
                            </a>
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="col-sm-4">
                    <div class="delegacion">
                        <p class="title">Madrid</p>
                        <p class="address">
                            C/ Gran Vía, 6, 4ª Planta, Despacho 21, 28013 Madrid
                        </p>
                        <p class="phone">
                            <a href="tel:+34915247474">
                                <span style="color: #D3C1AF"><i class="fa fa-phone"></i></span> 915 24 74 74
                            </a>
                        </p>
                        <p class="mail">
                            <a href="mailto:madrid@eactivos.com">
                                <span style="color: #D3C1AF"><i class="fa fa-envelope"></i></span>
                                madrid@eactivos.com
                            </a>
                        </p>
                    </div>

                    <hr>

                    <div class="delegacion">
                        <p class="title">País Vasco</p>
                        <p class="address">
                            C/ San Vicente nº8,6ª planta Dpto. 8, 48001 Bilbao
                        </p>
                        <p class="phone">
                            <a href="tel:+34944235621">
                                <span style="color: #D3C1AF"><i class="fa fa-phone"></i></span> 94 423 56 21
                            </a>
                        </p>
                        <p class="mail">
                            <a href="mailto:paisvasco@eactivos.com">
                                <span style="color: #D3C1AF"><i class="fa fa-envelope"></i></span>
                                paisvasco@eactivos.com
                            </a>
                        </p>
                    </div>

                    <hr>
                </div>
                <div class="col-sm-4">
                    <div class="delegacion">
                        <p class="title">Cataluña</p>
                        <p class="address">
                            Gran Vía de Carles III, 84 - Plantas 3 y 4, 08028 Barcelona
                        </p>
                        <p class="phone">
                            <a href="tel:+34934965734">
                                <span style="color: #D3C1AF"><i class="fa fa-phone"></i></span> 93 496 57 34
                            </a>
                        </p>
                        <p class="mail">
                            <a href="mailto:catalunya@eactivos.com">
                                <span style="color: #D3C1AF"><i class="fa fa-envelope"></i></span>
                                catalunya@eactivos.com
                            </a>
                        </p>
                    </div>

                    <hr>

                    <div class="delegacion">
                        <p class="title">Aragón</p>
                        <p class="address">
                            C/ Fray Juan Cebrián, 8, 50003 Zaragoza
                        </p>
                        <p class="phone">
                            <a href="tel:+34600473472">
                                <span style="color: #D3C1AF"><i class="fa fa-phone"></i></span> 600 473 472
                            </a>
                        </p>
                        <p class="mail">
                            <a href="mailto:aragon@eactivos.com">
                                <span style="color: #D3C1AF"><i class="fa fa-envelope"></i></span>
                                aragon@eactivos.com
                            </a>
                        </p>
                    </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>
