{% extends 'base.html.twig' %}

{% block body %}
    <div style="width:80%;margin: 40px auto 40px auto;text-align:center;padding: 0 200px 0 200px;background: white;">
        <h1>CREAR NUEVA SUBASTA</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" value="Create" class="btn btn-danger btn-lg btn-block" style="margin: 10px 0;">Crear nuevo
            subasta
        </button>
        {{ form_end(form) }}
        <ul class="list-group list-unstyled">
            <li>
                <a href="{{ path('asset_list') }}">
                    <button type="button" class="btn btn-primary btn-lg btn-block" style="margin: 10px 0;">Regresar al
                        listado
                    </button>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
